<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.athensoft.dao.ItemMapper">
 <resultMap type="com.athensoft.entity.Item" id="result">
		<id property="itemId" column="ItemID" />
		<result property="itemCode" column="ItemCode" />
		<result property="itemName" column="itemName" />
 </resultMap>				
 <select id="getAllItems" resultType="com.athensoft.entity.Item" resultMap="result">
    select * from item				
 </select>
 <select id="getItemById" resultType="com.athensoft.entity.Item" resultMap="result">
    select * from item where id = #{id}						
 </select>
</mapper>
