<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- Annotation support -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- Component auto-scan support -->
	<context:component-scan
		base-package="com.athensoft.*.controller"></context:component-scan>
</beans>

<bean id="sqlSessionFactory"
	class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource" />
	<property name="configuration">
    <bean class="org.apache.ibatis.session.Configuration">
      <property name="mapUnderscoreToCamelCase" value="true"/>
    </bean>
  </property>
</bean>

<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	<constructor-arg index="0" ref="sqlSessionFactory" />
</bean>

<bean id="itemDao" class="com.athensoft.dao.ItemDaoImpl">
  <property name="sqlSession" ref="sqlSession" />
  <constructor-arg ref="ItemMapper" />
</bean>

<bean id="ItemService" class="com.athensoft.service.ItemServiceImpl">
  <constructor-arg ref="ItemMapper" />
</bean>

<bean id="itemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" autowire="byType">
	<property name="mapperInterface" value="com.athensoft.dao.ItemMapper" />
	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
</bean>

<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<property name="basePackage" value="com.athensoft.dao.mapper" />
</bean> -->

<bean id="dataSource"
	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url"
		value="jdbc:mysql://159.203.16.118:3306/zhenzhen_db" />
	<property name="username" value="appdev" />
	<property name="password" value="athensoft2019" />
</bean>

<bean id="transactionManager"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<constructor-arg ref="dataSource" />
</bean>

